@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

/* Resetando definições padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #000000;
  color: #F6F6F6;
}

/* Container do cabeçalho */
.container-header {
  padding: 35px 0 0 270px;
}

/* links do cabeçalho */
.header-links {
  color: #22d4fd;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  margin: 0 15px 0 15px;
}

.header-links:hover {
  border-bottom: 1px solid white;
}

/* Titulo principal do site */
.titulo-destaque {
  color: #2347fc;
}

/* Imagem do conteúdo principal */
main img {
  width: 350px;
  height: 525px;
  border-radius: 16px;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6% 15%;
}

/* Container com o conteúdo principal - main */
.apresentaçao-conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentaçao-conteudo h1 {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.apresentaçao-conteudo p {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

/* container dos botões das redes sociais */
.apresentacao #apresentacao-links-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 32px;
}

.apresentacao-links-subtitulo {
  font-family: 'Krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

/* imagens das redes sociais */
.apresentacao #apresentacao-links-buttons img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 4px;
  left: -12px;
}

.apresentacao #apresentacao-links-buttons a {
  border: 2px solid #22d4fd;
  width: 320px;
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  font-size: 24px;
  padding: 10px 0;
  text-decoration: none;
  color: #ffffff;
}

.apresentacao #apresentacao-links-buttons a:hover {
  background-color: #141518;
}

/* rodapé do site */
footer {
  background-color: #22d4fd;
}

footer p {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}